*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/atlas/AIX_00.jpg
app/src/main/assets/atlas/AMS_00.jpg
app/src/main/assets/atlas/ANVR_00.jpg
app/src/main/assets/atlas/ANZR_00.jpg
app/src/main/assets/atlas/AVI_00.jpg
app/src/main/assets/atlas/BAB_00.jpg
app/src/main/assets/atlas/BBO_00.jpg
app/src/main/assets/atlas/BGK_00.jpg
app/src/main/assets/atlas/BRC_00.jpg
app/src/main/assets/atlas/BRL_00.jpg
app/src/main/assets/atlas/BRN_00.jpg
app/src/main/assets/atlas/BSL_00.jpg
app/src/main/assets/atlas/BT_00.jpg
app/src/main/assets/atlas/BTA_00.jpg
app/src/main/assets/atlas/BXL_00.jpg
app/src/main/assets/atlas/CAPF_00.jpg
app/src/main/assets/atlas/CAZ_00.jpg
app/src/main/assets/atlas/CCU_00.jpg
app/src/main/assets/atlas/CHAR_00.jpg
app/src/main/assets/atlas/CLR_00.jpg
app/src/main/assets/atlas/CON_00.jpg
app/src/main/assets/atlas/DHK_00.jpg
app/src/main/assets/atlas/DIJ_00.jpg
app/src/main/assets/atlas/DJBA_00.jpg
app/src/main/assets/atlas/DJN_00.jpg
app/src/main/assets/atlas/ELT_00.jpg
app/src/main/assets/atlas/FAO_00.jpg
app/src/main/assets/atlas/FKF_00.jpg
app/src/main/assets/atlas/FRQ_00.jpg
app/src/main/assets/atlas/FTBL_00.jpg
app/src/main/assets/atlas/GNV_00.jpg
app/src/main/assets/atlas/GRN_00.jpg
app/src/main/assets/atlas/GRTI_00.jpg
app/src/main/assets/atlas/GRU_00.jpg
app/src/main/assets/atlas/HALM_00.jpg
app/src/main/assets/atlas/HK_00.jpg
app/src/main/assets/atlas/IST_00.jpg
app/src/main/assets/atlas/KAT_00.jpg
app/src/main/assets/atlas/KLN_00.jpg
app/src/main/assets/atlas/LA_00.jpg
app/src/main/assets/atlas/LBR_00.jpg
app/src/main/assets/atlas/LCT_00.jpg
app/src/main/assets/atlas/LDN_00.jpg
app/src/main/assets/atlas/LIL_00.jpg
app/src/main/assets/atlas/LJU_00.jpg
app/src/main/assets/atlas/LSN_00.jpg
app/src/main/assets/atlas/LY_00.jpg
app/src/main/assets/atlas/MAN_00.jpg
app/src/main/assets/atlas/MARS_00.jpg
app/src/main/assets/atlas/MBSA_00.jpg
app/src/main/assets/atlas/MEN_00.jpg
app/src/main/assets/atlas/MIA_00.jpg
app/src/main/assets/atlas/MLB_00.jpg
app/src/main/assets/atlas/MLGA_00.jpg
app/src/main/assets/atlas/MPL_00.jpg
app/src/main/assets/atlas/MRAK_00.jpg
app/src/main/assets/atlas/MTB_00.jpg
app/src/main/assets/atlas/MUN_00.jpg
app/src/main/assets/atlas/NA_00.jpg
app/src/main/assets/atlas/NCL_00.jpg
app/src/main/assets/atlas/NIM_00.jpg
app/src/main/assets/atlas/NOO_00.jpg
app/src/main/assets/atlas/NY_00.jpg
app/src/main/assets/atlas/PA_00.jpg
app/src/main/assets/atlas/PA_01.jpg
app/src/main/assets/atlas/PA_02.jpg
app/src/main/assets/atlas/PA_03.jpg
app/src/main/assets/atlas/PAU_00.jpg
app/src/main/assets/atlas/POTI_00.jpg
app/src/main/assets/atlas/PRP_00.jpg
app/src/main/assets/atlas/PRT_00.jpg
app/src/main/assets/atlas/RA_00.jpg
app/src/main/assets/atlas/RBA_00.jpg
app/src/main/assets/atlas/RDU_00.jpg
app/src/main/assets/atlas/REUN_00.jpg
app/src/main/assets/atlas/RN_00.jpg
app/src/main/assets/atlas/ROM_00.jpg
app/src/main/assets/atlas/RTD_00.jpg
app/src/main/assets/atlas/SD_00.jpg
app/src/main/assets/atlas/SL_00.jpg
app/src/main/assets/atlas/SP_00.jpg
app/src/main/assets/atlas/SPACE_00.jpg
app/src/main/assets/atlas/TK_00.jpg
app/src/main/assets/atlas/TLS_00.jpg
app/src/main/assets/atlas/VLMO_00.jpg
app/src/main/assets/atlas/VRN_00.jpg
app/src/main/assets/atlas/VRS_00.jpg
app/src/main/assets/atlas/VSB_00.jpg
app/src/main/assets/atlas/WN_00.jpg
